<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%highlight(%d{ISO8601} [%-5level] %-40.40logger{39} : %msg) %n%throwable
			</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="Console" />
	</root>

</configuration>